<article class="tutorial">
  <h3 class="header">Catalog promotion tutorial:</h3>
  <app-divider></app-divider>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quibusdam
    magni vel neque reiciendis corporis voluptatibus similique natus debitis
    facere quod voluptatum, nobis laboriosam ea in. Quasi delectus obcaecati
    enim! Corrupti, quidem tenetur cum non molestiae ipsum placeat pariatur
    maiores ab quia illo architecto dolorem, atque veritatis quos culpa alias
    eaque facere laboriosam eos!
    <br /><br />
    Magnam quidem omnis eos ducimus voluptatibus, dolorum ipsa vitae
    consequatur. Fugiat, sunt cupiditate debitis, vero laudantium, quidem
    mollitia nobis saepe repudiandae aspernatur aperiam? Laudantium unde numquam
    nisi odit molestiae pariatur! Labore libero ipsam facere amet ea odit
    corrupti fugiat laudantium necessitatibus tempora veniam odio inventore
    quidem placeat, quam, fuga commodi adipisci est sapiente repellat fugit
    ullam omnis ratione! Laudantium, ut. Quis, enim eius fugiat perferendis
    alias natus veritatis quas accusantium beatae.
    <br /><br />
    Vel quas ad eaque voluptatum incidunt. Repellat, est! Totam doloremque
    eligendi nesciunt est quis dolorum, perspiciatis sed animi non numquam
    praesentium dicta molestiae ipsum dolor rem tempora sequi architecto ipsa!
    Nesciunt eius laudantium ipsum nostrum, illum saepe aliquid soluta
    cupiditate corporis id provident. Possimus ipsa ratione odio eaque sunt,
    modi, deserunt magnam id accusamus atque soluta? Accusantium tempora
    corrupti vero?
  </p>
</article>
