<div class="form">
  <h3 class="header">Form</h3>
  <app-divider></app-divider>
  <div class="container">
    <form [formGroup]="form">
      <mat-form-field class="name" appearance="fill">
        <mat-label>Product name</mat-label>
        <input matInput formControlName="productName" />
        <mat-error>This field is required!</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="category" appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field>
      <br />
      <mat-form-field class="description" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
