.step-item {
  width: 180px;
  list-style: none;
  cursor: pointer;
  background-color: lightgrey;
  margin: 3px 3px 3px 25px;
  padding-left: 30px;
  line-height: 40px;
  font-size: 12px;
  position: relative;
}

.active {
  font-weight: bold;
  width: 183px;
}

.step-number {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  left: -20px;
  font-size: 18px;
  color: white;
  text-align: center;
}

.active .step-number {
  background-color: darkred;
}
