<div class="container">
  <nav>
    <app-promotion-steps
      (activeStep)="activeStepChange($event)"
      [disabled]="disabled"
      [typeField]="typeField"
    ></app-promotion-steps>
  </nav>
  <section class="forms" [ngSwitch]="activeStep">
    <app-promotion-description
      *ngSwitchCase="1"
      (descriptionForm)="saveDescriptionForm(activeStep, $event)"
      [formData]="myForm.step1.descriptionForm"
    ></app-promotion-description>
    <!-- (stepsDisabled)="stepsStatusHandler($event)" -->

    <ng-container *ngFor="let step of [2, 3, 4, 5, 6, 7, 8]">
      <ng-container *ngIf="activeStep === step">
        <app-promotion-form
          *ngSwitchCase="activeStep"
          (saveForm)="saveStep(activeStep, $event)"
          [activeStep]="activeStep"
          [formData]="myForm['step' + activeStep]"
        ></app-promotion-form>
      </ng-container>
    </ng-container>
    <app-promotion-summary *ngSwitchCase="9"></app-promotion-summary>
    <app-promotion-tutorial></app-promotion-tutorial>
    <app-promotion-conditions
      *ngSwitchCase="1"
      [formData]="myForm.step1.conditionsForm"
      (conditionsForm)="saveConditionsForm(activeStep, $event)"
    ></app-promotion-conditions>
    <div class="vertical-divider"></div>
  </section>
</div>
