<div class="conditions">
  <h3 class="header">Conditions</h3>
  <app-divider></app-divider>
  <div class="example-container">
    <mat-form-field class="portal" appearance="fill">
      <mat-label>Portal</mat-label>
      <mat-select matInput formControlName="portal">
        <mat-option value="option">Option1</mat-option>
        <mat-option value="option">Option2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="type" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select matInput formControlName="portal">
        <mat-option value="option">Catalog</mat-option>
        <mat-option value="option">Bonus</mat-option>
        <mat-option value="option">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
